---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
    
    <main class="flex-grow container mx-auto p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <a href="/alumnos" class="bg-white shadow-md p-6 rounded-md hover:bg-blue-100 transition">
          <h2 class="text-xl font-semibold">Gestión de Alumnos</h2>
          <p class="text-gray-600">Registrar, modificar, y visualizar alumnos.</p>
        </a>
        <a href="/pagos" class="bg-white shadow-md p-6 rounded-md hover:bg-blue-100 transition">
          <h2 class="text-xl font-semibold">Gestión de Pagos</h2>
          <p class="text-gray-600">Registrar pagos y ver historial.</p>
        </a>
      </div>
    </main>
    
    <Footer />
</Layout>
