<footer class="bg-gray-800 text-white text-center py-2 h-[88px] content-center">
    <p class="text-sm">© 2024 Escuela de Artes Marciales KSK Dojo Shiró. Todos los derechos reservados.</p>
  </footer>
  